In [3]:
import pandas as pd
from io import StringIO
Data = '[{"employee_name":"John","department":"Sales","salary":50000}]'
df = pd.read_json(StringIO(Data))
print(df)

  employee_name department  salary
0          John      Sales   50000

In [4]:
df.to_json(orient="records")

'[{"employee_name":"John","department":"Sales","salary":50000}]'

In [5]:
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"
df=pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
!pip install lxml
!pip install html5lib
!pip install beautifulsoup4

Collecting lxml
  Downloading lxml-6.0.2-cp313-cp313-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp313-cp313-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ---------------------------- ----------- 2.9/4.0 MB 11.2 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 10.6 MB/s  0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.2
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in d:\python\python-programming\complete_agentic_ai_bootcamp_with_langgraph_and_langchain\.venv\lib\site-packages (from html5lib) (1.17.0)
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib

   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   ---------------------------------------- 2/2 [html5lib]

Successfully installed html5lib-1.1 webencodings-0.5.1
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.14.2-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.8-py3-none-any.whl.metadata (4.6 kB)
Collecting typing-extensions>=4.0.0 (from beautifulsoup4)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Downloading beautifulsoup4-4.14.2-py3-none-any.whl (106 kB)
Downloading soupsieve-2.8-py3-none-any.whl (36 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, soupsieve, beautifulsoup4

   ------------- -------------------------- 1/3 [soupsieve]
   -------------------------- ------------- 2/3 [beautifulsoup4]
   -------------------------- ------------- 2/3 [beautifulsoup4]
   ---------------------------------------- 3/3 [beautifulsoup4]

Successfully installed beautifulsoup4-4.14.2 soupsieve-2.8 typing-extensions-4.15.0

In [12]:
## READING HTML TABLES

url="https://www.fdic.gov/bank/individual/failed/banklist.html"
df=pd.read_html(url)
df[0].head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [14]:
url="https://datatables.net/"
df=pd.read_html(url)
df[0].head(5)

,Name,Position,Office,Age,Start date,Salary
0,Tiger Nixon,System Architect,Edinburgh,61,2011-04-25,"$320,800"
1,Garrett Winters,Accountant,Tokyo,63,2011-07-25,"$170,750"
2,Ashton Cox,Junior Technical Author,San Francisco,66,2009-01-12,"$86,000"
3,Cedric Kelly,Senior JavaScript Developer,Edinburgh,22,2012-03-29,"$433,060"
4,Airi Satou,Accountant,Tokyo,33,2008-11-28,"$162,700"

In [16]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [18]:
df=pd.read_excel("전문가_DB.xlsx")
df.head(5)

,이름,이메일,전화번호,한 줄 소개,상세 소개,소속,직책,활동 지역,3년이상 여부,전문 상담 분야
0,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_pickle("전문가_DB.pkl")
df=pd.read_pickle("전문가_DB.pkl")
df.head(5)

,이름,이메일,전화번호,한 줄 소개,상세 소개,소속,직책,활동 지역,3년이상 여부,전문 상담 분야
0,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,페이지네이션테스트용,experttest@gmail.com,010-0000-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN